@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

#root {
  /* background-color: #7edcf6; */
  background-color: #aaebfd;
}

.app-container {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: 1fr;
  height: 100vh;
}

hr {
  margin: 0px;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  /* transform: scaleY(2); */
  color: #0d6efd;
  margin-left: 10px;
}

h4, p {
  font-family: sans-serif
}

p {
  font-size: 14px;
}

.title {
  font-size: 20px;
  margin-bottom: 0px;
}

img {
  width: 100%;
  border-radius: 25px 25px 0px 0px;
}

textarea {
  width: 100%;
}

.logo-container {
  grid-column-start: 2;
  grid-row-start: 1;
  z-index: 2;
  width: fit-content;
  height: fit-content;
  margin-top: 12px;
}

.icon {
  font-size: 2em;
}
.location-icon {
  font-size: 1em;
  margin-right: 10px;
}

header {
  background-color: #7edcf6;
  /* padding: 10px; */
  /* filter: drop-shadow(1px 1px 2px #3FB1CE); */
  position: sticky;
  top: 0;
  z-index: 1;
  grid-column-start: 1;
  grid-row: 1 / 2;
  padding: 10px
}

.map {
  grid-column: 2 /3;
  grid-row: 1/2;
}

.map-container {
  height: 100vh;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.end {
  justify-content: flex-end;
}

.space-btw {
  justify-content: space-between;
}

input {
  border: none;
  padding: 5px;
  width: 100%;
}

.form-div {
  padding: 5px;
}

button {
  border: none;
  background-color: #0d6efd;
  color: white;
  padding: 5px;
  width: 100%;
}
button:hover {
  background-color: #0e62df;
}

.nav-container {
  display: flex;
  flex-direction: column;
}

.sign-in-container {
  grid-column-end: 3;
  grid-row-start: 1;
  z-index: 2;
  justify-self: end;
  align-self: start;
  margin: 10px;
}
.auth-container {
  justify-self: center;
  align-self: center;
}
.auth-container, .list-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 25%;
  min-width: 200px;
  max-width: 350px;
}

.sign-in-btn {
  margin: 5px;
  padding: 8px 10px;
  border-radius: 25px;
  height: 45px;
  border: 2px solid #0d6efd;
  font-family: 'Abril Fatface', cursive;
}
.sign-in-btn:hover {
  background-color: #0d6efd;
}
.register-btn {
  margin: 5px;
  border-radius: 25px;
  height: 52px;
}

a:link, a:visited, a:hover { text-decoration: none; }

.popup-container {
  display: flex;
  flex-direction: column;
  
  grid-column-start: 1;
  grid-row-start: 1;
  z-index: 1;

  width: fit-content;

  background-color: #7edcf6;
  padding: 10px;
}

.popup-container-2 {
  display: flex;
  flex-direction: column;
  
  grid-column-start: 1;
  grid-row-start: 1;
  z-index: 1;

  width: fit-content;
  padding: 10px;
}

.toggle-details {
  /* min-width: 250px; */
  /* max-width: 500px; */
  width: 250px;
  padding: 10px 12px 10px 0px;
}

.center-text {
  text-align: center;
}

.grey {
  color:#224375;
  margin: 0px;
}

.blue {
  color:#0d6efd;
}
.blue:hover {
  color: #0e62df;
  cursor: pointer;
}

.buffer {
  height: 10px;
}

.stoop-card {
  border-radius: 25px;
  background-color: #7edcf6;
  width: 300px;
}

.card-text-container {
  margin: 10px;
}






.pagination-container {
  display: flex;
  list-style-type: none;
}
.pagination-container .pagination-item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
}
.pagination-container .pagination-item.dots:hover {
  background-color: transparent;
  cursor: default;
}
.pagination-container .pagination-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.pagination-container .pagination-item.selected {
  background-color: rgba(0, 0, 0, 0.08);
}
.pagination-container .pagination-item .arrow::before {
  position: relative;
 /* top: 3pt;
  Uncomment this to lower the icons as requested in comments*/
  content: '';
 /* By using an em scale, the arrows will size with the font */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}
.pagination-container .pagination-item .arrow.left {
  transform: rotate(-135deg) translate(-50%);
}
.pagination-container .pagination-item .arrow.right {
  transform: rotate(45deg);
}
.pagination-container .pagination-item.disabled {
  pointer-events: none;
}
.pagination-container .pagination-item.disabled .arrow::before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}
.pagination-container .pagination-item.disabled:hover {
  background-color: transparent;
  cursor: default;
}