@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* background-color: #7edcf6; */
  background-color: #aaebfd;
}

.app-container {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: 1fr;
  height: 100vh;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  /* transform: scaleY(2); */
  color: #0d6efd;
  margin-left: 10px;
}

img {
  width: 100%;
  border-radius: 25px 25px 0px 0px;
}

.logo-container {
  grid-column-start: 2;
  grid-row-start: 1;
  z-index: 2;
  width: fit-content;
  height: fit-content;
  margin-top: 12px;
}

.icon {
  font-size: 2em;
}
.location-icon {
  font-size: 1.25em;
  margin-right: 10px;
}

header {
  background-color: #7edcf6;
  /* padding: 10px; */
  /* filter: drop-shadow(1px 1px 2px #3FB1CE); */
  position: sticky;
  top: 0;
  z-index: 1;
  grid-column-start: 1;
  grid-row: 1 / 2;
  padding: 10px
}

.map {
  grid-column: 2 /3;
  grid-row: 1/2;
}

.map-container {
  height: 100vh;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.end {
  justify-content: flex-end;
}

input {
  border: none;
  padding: 5px;
  width: 100%;
}

.form-div {
  padding: 5px;
}

button {
  border: none;
  background-color: #0d6efd;
  color: white;
  padding: 5px;
  width: 100%;
}
button:hover {
  background-color: #0e62df;
}

.nav-container {
  display: flex;
  flex-direction: column;
}

.sign-in-container {
  grid-column-end: 3;
  grid-row-start: 1;
  z-index: 2;
  justify-self: end;
  align-self: start;
  margin: 10px;
}

.auth-container, .list-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  width: 25%;
  min-width: 200px;
  max-width: 350px;
}

.sign-in-btn {
  margin: 5px;
  padding: 8px 10px;
  border-radius: 25px;
  height: 45px;
  border: 2px solid #0d6efd;
  font-family: 'Abril Fatface', cursive;
}
.sign-in-btn:hover {
  background-color: #0d6efd;
}
.register-btn {
  margin: 5px;
  border-radius: 25px;
  height: 52px;
}

a:link, a:visited, a:hover { text-decoration: none; }

.popup-container {
  display: flex;
  flex-direction: column;
  
  grid-column-start: 1;
  grid-row-start: 1;
  z-index: 1;

  width: fit-content;

  background-color: #7edcf6;
  padding: 10px;
}

.popup-container-2 {
  display: flex;
  flex-direction: column;
  
  grid-column-start: 1;
  grid-row-start: 1;
  z-index: 1;

  width: fit-content;
  padding: 10px;
}

.toggle-details {
  /* min-width: 250px; */
  /* max-width: 500px; */
  width: 250px;
  padding: 10px 12px 10px 0px;
}

.center-text {
  text-align: center;
}

.blue {
  color:#0d6efd;
}
.blue:hover {
  color: #0e62df;
  cursor: pointer;
}

.buffer {
  height: 10px;
}

.stoop-card {
  border-radius: 25px;
  background-color: #7edcf6;
}

.card-text-container {
  margin: 10px;
}
